<div class='bg-forms'>
  <form name="mail" method="POST" action="{{ action }}" enctype="multipart/form-data">
  {% if replyto is defined %}
  <h2>{{ "Reply to an email" | trans }}</h2>
  {% else %}
  <h2>{{ "Send an email" | trans }}</h2>
  {% endif %}
    <div class="input-control text">
      <input type="text" name="adresses" value="{{ replyto is defined ? replyto.getFrom().getEmail() : null}}" placeholder='{{ "Adresses" | trans }}' class="with-helper" required />
    </div>
    <div class="input-control text">
      <input type="text" name="title" value="{{ replyto is defined ? replyto.getTitle() : null}}" placeholder='{{ "Title" | trans }}' class="with-helper" required />
    </div>
    <fieldset>
      <legend>Body</legend>
      <div class="input-control textarea">
        <textarea name="body" style='resize: none;'></textarea>
      </div>
    </fieldset>
    <br />
    <div class="command-button" style='cursor: pointer;'>
        <i class='icon-plus-2'></i> Add a file input
        <small>No limitation on size for the moment ...</small>
    </div>
    <br />
    <div id="file_input_area"></div>
    <input type="submit" value='{{ "Send" | trans }}'/>
    <br />
  </form>
</div>