{% extends '::base.html.twig' %}
{% block body %}
<div class="toolbar-vertical">
	<div class="toolbar-group">
		<a href="{{path('dashboard')}}" ><i class='icon-home'></i></a>
		<a href="{{ path('editUser', {'id': self.getId()}) }}" ><i class='icon-user'></i></a>
		<a href="{{path('logout')}}" ><i class='icon-exit'></i></a>
	</div>
	<div class="toolbar-group">
		<a href="javascript: void(0);" id='display-add' ><i class='icon-plus'></i></a>
	</div>
</div>
{% include 'ExtranetMailBundle::newmailform.html.twig'  with { action: (path("sendnewmail")) } %}

{% stylesheets '@ExtranetMailBundle/Resources/public/css/mail-index.css' %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %}

<section id="main-frame" class='tiles clearfix'>
	<div style='border-bottom: 1px dashed #ccc;'>
		<h3>Mails - {{count}}</h3>
	</div>
	<br />
	<ul class="accordion" data-role="accordion">
		{% if count %}
		{% for mail in mails %}
		<li id='{{mail.getId()}}'>
			{% if mail.getStatus %}
				<a href="#" id="mail-{{mail.getId()}}"><i class='icon-bookmark-2 banner-icon'></i> {{mail.getFrom().getEmail()}} | {{mail.getTitle()}}</a>
			{% else %}
				<a href="#" id="mail-{{mail.getId()}}"><i class='icon-bookmark banner-icon'></i> <b>{{mail.getFrom().getEmail()}}</b> | {{mail.getTitle()}}</a>
			{% endif %}
			<div class="mail-body">{{mail.getBody()}}
				<a class="button default bg-color-blue mail-button reply-to-button">Reply</a>
				<a href="{{ path('deletemail', {'id' : mail.getId()}) }}" class="button default bg-color-red mail-button">Delete</a>
				<div style='clear: both'></div>
				{% for x in mail.getAttachment() %}
					<a href="{{ path('displayImage', {'id': x.getId()}) }}">
					<div class="tile bg-color-darken">
	                    <div class="tile-content" style='text-align: center;'>
	                        <i class='icon-download' style='font-size: 50px; margin-top: 10px;'></i>
	                        <br /><br /><br />
	                        {{ x.getFilename() }}<br />
	                        {% if x.getLength()|length <= 6 %}
	                        {{ x.getLength()/1000 }} Kb<br />
	                        {% else %}
	                        {{ x.getLength()/100000 }} Mb<br />
	                        {% endif %}
	                        <small>Click to download ...</small>
	                    </div>
	                </div>
	            	</a>
				{% endfor %}
			</div>
			{% include 'ExtranetMailBundle::newmailform.html.twig'  with { action: path('replytomail', {'id' : mail.getId()}) , replyto: mail } only %}
		</li>
		{% endfor %}
		{% else %}
		<small>No mail found ...</small>
		{% endif %}
	</ul>
</section>

{% javascripts '@ExtranetMailBundle/Resources/public/scripts/mail-index.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script type="text/javascript">

$(document).ready(function(){
	$('li').click(function(){
	    $.post('{{ path("readMail") }}', {id: $(this).attr('id')}, function(data) {
			alert("Data Loaded: " + data);
		}, 'json');
	});

	$('.command-button').click(function(){
        if ($(this).next().next().html() == "")
        	$(this).next().next().html("<fieldset style='background: #fff;'><legend>Attachment</legend><div style='margin-bottom: 10px;'><input type='file' name='attachment-"+(new Date())+"' /><i class='icon-cancel del-attachment' style='cursor:pointer;'></i></div></fieldset>");
        else{
        	$(this).next().next().find('div:first').before("<div style='margin-bottom: 10px;'><input type='file' name='attachment-"+(new Date())+"' /><i class='icon-cancel del-attachment' style='cursor:pointer;'></i></div>");
        }
    });

    $('.del-attachment').live('click', function(){
    	if ($(this).parent().parent().parent().find('div').length > 1)
    		$(this).parent().remove();
    	else
			$(this).parent().parent().parent().html("");
    });
});
</script>

{% endblock %}
